<%-include('./partials/header') %>
<h1 class="overskrift">Check out these wishlists</h1>

<% if(brukere){ %> <% brukere.forEach((bruker) => { %>

<% if (bruker.wishes == '') { %>

  <div class="wishes">
    <p class="link" data-id="<%= bruker.username %>"><%= bruker.username %> - <%= bruker.wishes[0] %> ingen ønsker enda</p>
  </div>

  <% }else if(bruker.wishes[0].wish) { %> 

  <div class="wishes">
    <p class="link" data-id="<%= bruker.username %>"><%= bruker.username %> - <%= bruker.wishes[0].wish %></p>
  </div>

  <%} %>
<% })} %> 

<%-include('./partials/footer') %>


<script>

document.addEventListener("click", async (e, req, res) => {
    if (e.target.classList.contains("link")) {
      const id = e.target.dataset.id;
      console.log(id);

      try {
        location.assign(`/${e.target.dataset.id}`)

      } catch (err) {
        console.log(err);
      }
    }
  });
  
</script>





