<%-include('./partials/header') %>


<h1>Check out these wishlists</h1>

<% if(brukere.length > 0){ %> <%let i = 0; brukere.forEach((bruker) => { if (i
< 5) { %>

<div class="wishlist">
  <p class="link" data-id="<%= bruker.username %>"><%= bruker.username %> - <%= bruker.wishes[0].wish %></p>
</div>



<% i++ }}) %> <% } %> 
<%-include('./partials/footer') %>
<script>

document.addEventListener("click", async (e, req, res) => {
    if (e.target.classList.contains("link")) {
      const id = e.target.dataset.id;
      console.log(id);

      try {
        location.assign(`/${e.target.dataset.id}`)

      } catch (err) {
        console.log(err);
      }
    }
  });
  
</script>





